.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.prime-box {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.prime-box svg {
  flex-basis: 2rem;
  flex-grow: 0;
  margin: 5px;
}

.product-box {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
